.bash_history
__pycache__

.terraform
.terraform.d/
terraform.tfstate.d
crash.log
*.deb
*.zip
.venv

ca-key.pem
kops-admin.kubeconfig

target

jenkins/server-image/jenkins-ci.docker
jenkins/server-image/plugins/scriptler-plugin
