.bash_history

__pycache__
.pytest_cache/
*.egg-info

.terraform
.terraform.d/
terraform.tfstate.d
crash.log
*.deb
*.zip
*.dist-info
.venv

ca-key.pem
ca.pem
irsa-key
kops-admin.kubeconfig

packer/ec2_amazon-ebs.pem

terraform/shared/apt-packages/amazon-ecr-credential-helper/amazon-ecr-credential-helper-*
terraform/shared/apt-packages/amazon-ecr-credential-helper/docker-credential-ecr-login

shared/ecr-images/bastion-sshd-worker/files/libnss-iam-*.deb

target

jenkins/images/server/jenkins-ci.docker
jenkins/images/server/plugins/scriptler-plugin
jenkins/images/server/plugins/github-oauth-plugin

.m2
.venv

jenkins/cli-cookies.txt

terraform/shared/ecr-images/pod-identity-webhook/amazon-eks-pod-identity-webhook
terraform/shared/ecr-images/certificate-init-container/certificate-init-container
terraform/shared/ecr-images/certificate-request-approver/kapprover
