[Unit]
Description=Configures SSD/NVMe flash devices as a single ext4 filesystem
Before=containerd.service docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/init-ephemeral-disks.sh

[Install]
WantedBy=multi-user.target
