[Unit]
Description=Formats and mounts SSD/NVMe flash devices to as a single ext4 filesystem
Before={{ ephemeral_disks_before  | join(' ') }}

[Service]
Type=oneshot
ExecStart=/usr/local/bin/init-ephemeral-disks.sh {{ ephemeral_disks_mount_point }} {{ ephemeral_disks_bind_mounts | join(' ') }}

[Install]
WantedBy={{ ephemeral_disks_wanted_by  | join(' ') }}
